@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.content{
    margin-top: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

.consulta{
    display: flex;
    justify-content: center;
}

.centeredBlock{
    display: block;
    margin: auto;
    text-align: center;
}

.ocupacaoItem{
    display: block;
    margin: auto;
    text-align: center;
}

.searchBar{
    width: 350px;
    border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchButton{
    width: 80px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.resultadoConsulta{
    display: block;
    justify-content: center;
}